Repository NotJustPizza/sensors-rest-api, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, infra, docs, source, tests

test: reduce amount of repetitive code in tests
  tests/unit/asserts.py
  tests/unit/conftest.py
  tests/unit/routers/test_organizations.py
  tests/unit/routers/test_projects.py
  tests/unit/routers/test_root.py
  tests/unit/routers/test_users.py
  tests/unit/utils.py
Labels: tests

chore(precommit): add support for mypy
  .pre-commit-config.yaml
  app/auth.py
  app/dependencies.py
  app/settings.py
  requirements_dev.txt
  tests/unit/utils.py
Labels: ci, tests

chore(precommit): add flake8 with bugbear
  .pre-commit-config.yaml
  app/pydantic.py
  app/validators.py
  setup.cfg
Labels: ci

chore(precommit): add isort
  .pre-commit-config.yaml
  app/auth.py
  app/dependencies.py
  app/exceptions.py
  app/main.py
  app/models/base.py
  app/models/organization.py
  app/models/project.py
  app/models/user.py
  app/pydantic.py
  app/routers/__init__.py
  app/routers/ogranizations.py
  app/routers/projects.py
  app/routers/root.py
  app/routers/users.py
  app/validators.py
  setup.cfg
  tests/unit/asserts.py
  tests/unit/conftest.py
  tests/unit/models/test_base.py
  tests/unit/routers/fixtures.py
  tests/unit/routers/test_organizations.py
  tests/unit/routers/test_projects.py
  tests/unit/routers/test_root.py
  tests/unit/routers/test_users.py
  tests/unit/utils.py
Labels: ci, tests

chore(precommit): replace tags by hashes for dependencies
  .pre-commit-config.yaml
Labels: ci

chore(precommit): add check for python safety db
  .pre-commit-config.yaml
Labels: ci

chore(precommit): add support for shellcheck
  .pre-commit-config.yaml
Labels: ci

chore(precommit): change validators for terraform
  .pre-commit-config.yaml
  .tflint-version
  Dockerfile
  requirements_dev.txt
Labels: ci, tests

chore(terraform): update version to 1.3.7
  .terraform-version
  terraform/envs/dev/version.tf
  terraform/envs/prod/version.tf
  terraform/modules/main/providers.tf
Labels: infra

chore(precommit): disable terrascan due to multiple false positives
  .pre-commit-config.yaml
  Dockerfile
Labels: ci

chore(terraform): fix issues reported by checkcov
  terraform/modules/main/k8s_deployments.tf
  terraform/modules/main/k8s_secrets.tf
  terraform/modules/main/k8s_services.tf
  terraform/modules/main/k8s_statefulsets.tf
  terraform/modules/main/k8s_volumes.tf
Labels: infra

chore(actions): set top-level permissions to read-all
  .github/workflows/pr-add-labels.yml
  .github/workflows/pr-validate-python-code.yml
  .github/workflows/pr-validate-terraform-code.yml
  .github/workflows/pr-validate.yml
  .github/workflows/release.yml
Labels: ci

chore(docker): add healtcheck
  Dockerfile
Labels: ci

chore(precommit): add bandit hook
  .pre-commit-config.yaml
Labels: ci

feat(main): add healthcheck endpoint
  app/routers/root.py
  tests/unit/routers/test_root.py
Labels: tests

refactor(main): create separate router for actions
  Dockerfile
  app/routers/__init__.py
  app/routers/actions.py
  terraform/modules/main/k8s_deployments.tf
  tests/unit/conftest.py
  tests/unit/routers/test_actions.py
  tests/unit/routers/test_all.py
Labels: ci, infra, tests

chore: replace requirement files by pyproject.toml with poetry
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  setup.cfg
Labels: ci, source, tests

chore(terraform): update default k8s version
  terraform/modules/main/k8s.tf
Labels: infra

chore(terraform): add resource for k8s namespace
  terraform/modules/main/k8s.tf
  terraform/modules/main/k8s_deployments.tf
  terraform/modules/main/k8s_secrets.tf
  terraform/modules/main/k8s_services.tf
  terraform/modules/main/k8s_statefulsets.tf
  terraform/modules/main/k8s_volumes.tf
  terraform/modules/main/locals.tf
Labels: infra

feat: add devices, dimensions, measures and memberships endpoints
  app/main.py
  app/models/__init__.py
  app/models/abstract.py
  app/models/base.py
  app/models/device.py
  app/models/dimension.py
  app/models/measure.py
  app/models/membership.py
  app/models/mixins.py
  app/models/organization.py
  app/models/project.py
  app/models/user.py
  app/pydantic.py
  app/routers/__init__.py
  app/routers/devices.py
  app/routers/dimensions.py
  app/routers/measures.py
  app/routers/memberships.py
  app/routers/ogranizations.py
  app/routers/projects.py
  app/routers/users.py
  app/routers/utils.py
  poetry.lock
  pyproject.toml
  tests/unit/asserts.py
  tests/unit/conftest.py
  tests/unit/fixtures.py
  tests/unit/models/fixtures.py
  tests/unit/models/test_base.py
  tests/unit/models/test_user.py
  tests/unit/routers/fixtures.py
  tests/unit/routers/test_all.py
  tests/unit/routers/test_devices.py
  tests/unit/routers/test_dimensions.py
  tests/unit/routers/test_measures.py
  tests/unit/routers/test_memberships.py
  tests/unit/routers/test_organizations.py
  tests/unit/routers/test_projects.py
  tests/unit/routers/test_users.py
  tests/unit/utils.py
Labels: tests

chore(docker): separate dependencies building from code
  Dockerfile
Labels: ci

chore(make): add option to show outdated python dependencies
  Makefile
Labels: ci

chore(git): add .venv to .gitignore
  .gitignore
Labels: ci

chore(api): update dependencies
  poetry.lock
  pyproject.toml
Labels: none

chore(pre-commit): update dependencies
  .pre-commit-config.yaml
Labels: ci

chore(terraform): update version
  .terraform-version
  terraform/envs/dev/version.tf
Labels: infra

chore: rename dev env to nonprod env
  .github/workflows/pr-validate-python-code.yml
  .github/workflows/pr-validate-terraform-code.yml
  .github/workflows/release.yml
  terraform/envs/nonprod/backends.tf
  terraform/envs/nonprod/config.tfbackend.example
  terraform/envs/nonprod/config.tfvars.example
  terraform/envs/nonprod/input.tf
  terraform/envs/nonprod/main.tf
  terraform/envs/nonprod/version.tf
Labels: ci, infra

chore(terraform): update version for prod and main module
  terraform/envs/prod/version.tf
  terraform/modules/main/providers.tf
Labels: infra

chore(make): rename dev to nonprod
  Makefile
Labels: ci

chore(make): fix path to unit tests
  Makefile
Labels: ci

chore(make): fix typo in image name and target
  Makefile
Labels: ci

chore(git): add mypy cache to .gitignore
  .gitignore
Labels: ci

.github/labeler.yml:

ci:
  - .gitignore
  - .github/**
  - .pre-commit-config.yaml
  - pre-commit-hook.sh
  - Dockerfile
  - docker-compose.yml
  - Makefile

infra:
  - .terraform-version
  - terraform/**

docs:
  - LICENSE
  - README.md

source:
  - requirements.txt
  - src/**

tests:
  - .tflint-version
  - requirements_dev.txt
  - tests/**
