Repository NotJustPizza/sensors-rest-api, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, source, infra, docs, test

chore: add support for tflint
  .github/workflows/pr-validate-code.yml
  .pre-commit-config.yaml
  .tflint-version
  Dockerfile
  Makefile
  pre-commit-hook.sh
Labels: ci

chore(actions): change how we set env vars
  .github/workflows/pr-validate-code.yml
Labels: ci

chore(actions): save result-pytests.xml under tests folder
  .github/workflows/pr-validate-code.yml
Labels: ci

chore(actions): run pr-validate workflow on synchronize
  .github/workflows/pr-validate.yml
Labels: ci

chore(actions): add permissions to update pull-request contents
  .github/workflows/pr-validate-code.yml
Labels: ci

chore(docker): change copy path for requirements.txt
  Dockerfile
Labels: ci

chore(api): update dependencies
  requirements.txt
  requirements_dev.txt
  tests/unit/conftest.py
  tests/unit/main/test_models.py
  tests/unit/main/test_routers.py
Labels: ci, source, test

chore(make): add support for terraform destroy
  Makefile
Labels: none

.github/labeler.yml:

ci:
  - requirements_dev.txt
  - Dockerfile
  - docker-compose.yml
  - .github/**
  - .pre-commit-config.yaml
  - .gitignore

source:
  - requirements.txt
  - src/**

infra:
  - .terraform-version
  - terraform/**

docs:
  - README.md
  - LICENSE

test:
  - tests/**
