Repository NotJustPizza/sensors-rest-api, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, infra, docs, source, tests

chore(actions): separate validation workflows for python and terraform
  .github/workflows/pr-validate-python-code.yml
  .github/workflows/pr-validate-terraform-code.yml
Labels: ci

feat(main): add support for pagination
  requirements.txt
  src/main/main.py
  src/main/routers.py
Labels: source

test(main): update tests to include pagination
  tests/unit/main/test_routers.py
Labels: tests

feat(users): add email and password support
  src/main/models.py
  tests/unit/main/test_routers.py
  tests/unit/utils.py
Labels: source, tests

refactor(main): move routers to package
  src/main/main.py
  src/main/routers/__init__.py
  src/main/routers/root.py
  src/main/routers/users.py
Labels: source

refactor: change fastapi project structure
  Dockerfile
  Makefile
  app/__init__.py
  app/main.py
  app/models/__init__.py
  app/models/base.py
  app/models/user.py
  app/routers/__init__.py
  app/routers/root.py
  app/routers/users.py
  src/main/__init__.py
  tests/unit/conftest.py
  tests/unit/models/__init__.py
  tests/unit/models/fixtures.py
  tests/unit/models/test_base.py
  tests/unit/routers/__init__.py
  tests/unit/routers/test_root.py
  tests/unit/routers/test_users.py
Labels: ci, source, tests

feat(main): configure app to use provided database
  app/main.py
  app/settings.py
  docker-compose.yml
  tests/unit/conftest.py
Labels: ci, tests

chore(make): run terraform commands in interactive docker
  Makefile
  terraform/modules/main/kuberenes.tf
Labels: ci, infra

chore(terraform): add option to configure different k8s version
  terraform/envs/dev/input.tf
  terraform/envs/dev/main.tf
  terraform/envs/prod/input.tf
  terraform/envs/prod/main.tf
  terraform/modules/main/input.tf
  terraform/modules/main/kuberenes.tf
Labels: infra

chore(actions): build and upload release images to github registry
  .github/workflows/pr-validate-python-code.yml
  .github/workflows/release.yml
Labels: ci

chore(terraform): update k8s setup with statefulset for database and load balancer for api
  terraform/envs/dev/input.tf
  terraform/envs/prod/input.tf
  terraform/modules/main/data.tf
  terraform/modules/main/input.tf
  terraform/modules/main/k8s.tf
  terraform/modules/main/k8s_deployments.tf
  terraform/modules/main/k8s_secrets.tf
  terraform/modules/main/k8s_services.tf
  terraform/modules/main/k8s_statefulsets.tf
  terraform/modules/main/k8s_volumes.tf
  terraform/modules/main/kuberenes.tf
  terraform/modules/main/locals.tf
  terraform/modules/main/providers.tf
Labels: infra

fix(users): fix uuid validation in url path
  app/routers/users.py
Labels: none

test(users): add tests for invalid and inexistent uuids
  tests/unit/routers/test_root.py
Labels: tests

feat(auth): add support for jwt tokens
  app/auth.py
  app/dependencies.py
  app/exceptions.py
  app/main.py
  app/models/user.py
  app/routers/root.py
  app/routers/users.py
  app/settings.py
  docker-compose.yml
  requirements.txt
  terraform/modules/main/k8s_deployments.tf
  terraform/modules/main/k8s_secrets.tf
  tests/unit/conftest.py
  tests/unit/routers/test_root.py
  tests/unit/routers/test_users.py
  tests/unit/utils.py
Labels: ci, infra, source, tests

feat(organizations): add organization model and routes
  app/main.py
  app/models/organization.py
  app/routers/__init__.py
  app/routers/ogranizations.py
  tests/unit/asserts.py
  tests/unit/models/fixtures.py
  tests/unit/routers/test_organizations.py
  tests/unit/routers/test_users.py
  tests/unit/utils.py
Labels: tests

chore(make): enable verbose for pytest
  Makefile
Labels: ci

feat(auth): add support for admin auth scope
  app/auth.py
  app/dependencies.py
  app/exceptions.py
  app/models/user.py
  app/routers/__init__.py
  app/routers/ogranizations.py
  app/routers/root.py
  app/routers/users.py
  tests/unit/asserts.py
  tests/unit/conftest.py
  tests/unit/routers/test_organizations.py
  tests/unit/routers/test_root.py
  tests/unit/routers/test_users.py
  tests/unit/utils.py
Labels: tests

chore(api): update dependencies
  requirements.txt
  requirements_dev.txt
Labels: source, tests

chore(docker): decrease docker image size
  Dockerfile
Labels: ci

chore(docker): add base-env stage
  Dockerfile
Labels: ci

chore(api): update dev dependencies
  requirements_dev.txt
Labels: tests

chore(compose): update postgress image to alpine 3.17
  docker-compose.yml
Labels: ci

chore(make): use docker buildkit backend for image building
  Makefile
Labels: ci

chore(terraform): update version to 1.3.6
  .terraform-version
Labels: infra

chore(tflint): update version to v0.44.1
  .tflint-version
Labels: tests

chore(docker): fix permissions to terraform executable
  Dockerfile
Labels: ci

feat(main): create admin user at startup
  app/main.py
  app/settings.py
  docker-compose.yml
  terraform/modules/main/k8s_deployments.tf
  terraform/modules/main/k8s_secrets.tf
  tests/unit/conftest.py
  tests/unit/routers/test_root.py
Labels: ci, infra, tests

chore(compose): update postgress to 15.1
  docker-compose.yml
Labels: ci

fix(main): improve error handling for login endpoint
  app/routers/root.py
Labels: none

fix(main): fix admin failing to update due plain password in filter query
  app/main.py
Labels: none

feat(auth): new scopes and permissions
  app/auth.py
  app/dependencies.py
  app/models/organization.py
  app/models/user.py
  app/routers/ogranizations.py
  app/routers/root.py
  app/routers/users.py
  tests/unit/conftest.py
  tests/unit/routers/test_organizations.py
  tests/unit/routers/test_users.py
Labels: tests

refactor(main): replace monkey-patching settings by fastapi dependency overidde
  Dockerfile
  app/auth.py
  app/dependencies.py
  app/main.py
  app/models/__init__.py
  app/models/organization.py
  app/models/user.py
  app/routers/root.py
  app/run.py
  app/settings.py
  tests/unit/conftest.py
Labels: ci, tests

chore(api): update dependencies
  requirements.txt
Labels: source

fix(main): fix discovering relations in pydantic models
  app/main.py
  app/models/organization.py
  app/models/user.py
  app/pydantic.py
  app/routers/ogranizations.py
  app/routers/users.py
  requirements.txt
  tests/unit/asserts.py
  tests/unit/conftest.py
  tests/unit/routers/test_organizations.py
  tests/unit/routers/test_users.py
Labels: source, tests

feat(projects): new models and endpoints
  app/exceptions.py
  app/models/__init__.py
  app/models/organization.py
  app/models/project.py
  app/models/user.py
  app/pydantic.py
  app/routers/__init__.py
  app/routers/ogranizations.py
  app/routers/projects.py
  app/routers/users.py
  tests/unit/asserts.py
  tests/unit/routers/fixtures.py
  tests/unit/routers/test_organizations.py
  tests/unit/routers/test_projects.py
  tests/unit/routers/test_root.py
  tests/unit/routers/test_users.py
Labels: tests

fix(users): disable email deliverability validation
  app/models/user.py
  app/validators.py
  tests/unit/conftest.py
Labels: tests

feat(users): add delete action to api
  app/routers/users.py
  tests/unit/routers/test_root.py
  tests/unit/routers/test_users.py
Labels: tests

feat(projects): add delete action to api
  app/routers/projects.py
  tests/unit/routers/test_projects.py
Labels: tests

feat(organizations): add delete action to api
  app/routers/ogranizations.py
  tests/unit/routers/test_organizations.py
Labels: tests

fix(main): delete actions should raise 404 when object doesn't exist
  app/routers/ogranizations.py
  app/routers/projects.py
  app/routers/users.py
Labels: none

.github/labeler.yml:

ci:
  - .gitignore
  - .github/**
  - .pre-commit-config.yaml
  - pre-commit-hook.sh
  - Dockerfile
  - docker-compose.yml
  - Makefile

infra:
  - .terraform-version
  - terraform/**

docs:
  - LICENSE
  - README.md

source:
  - requirements.txt
  - src/**

tests:
  - .tflint-version
  - requirements_dev.txt
  - tests/**
